@import "tailwindcss";

@theme inline {
  --color-primary: #2563EB;
  --color-background: #05070F;
  --color-card: #0F172A;
  --color-accent: #06B6D4;
  --color-text: #F8FAFC;

  --font-heading: var(--font-syne);
  --font-body: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}